body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header p {
    margin: 0;
    font-size: 16px;
    color: #f0f0f0;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.info-bar {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    text-align: center;
    position: relative;
}

.info-bar:hover {
    transform: scale(1.05);
}

.info-bar h2 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

.info-bar p {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}

.meals-list {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.meals-list:hover {
    transform: scale(1.05);
}

.meals-list h2 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

.meals-list ul {
    list-style-type: none;
    padding: 0;
}

.meals-list ul li {
    background: #efefef;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;
}

.meals-list ul li:hover {
    background-color: #ddd;
}

.space {
    height: 80px; /* Adjust as needed to provide space above the footer */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

footer div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
    padding: 5px;
    border-radius: 5px;
}

footer svg {
    width: 24px;
    height: 24px;
    fill: white;
    margin-bottom: 3px;
}

footer div:hover svg {
    transform: scale(1.2);
}

footer .footer-icon.active {
    background-color: #3e8e41;
    border: 2px solid white;
    border-radius: 10px;
}

.home-page .home-icon,
.nutrition-page .nutrition-icon,
.report-page .report-icon,
.profile-page .profile-icon {
    background-color: #3e8e41;
    border: 2px solid white;
    border-radius: 10px;
}
