body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.770), rgba(255, 255, 255, 0.770)), 
               url('../img/nutrition-background.png');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling the form */
#resetForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Styling form elements */
#resetForm label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Dark text color */
}

#resetForm .password-wrapper {
    position: relative;
}

#resetForm #new_password {
    width: calc(100% - 24px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#resetForm #togglePassword {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; /* Gray color for the icon */
}

#resetForm #togglePassword:hover {
    color: #333; /* Darker color on hover */
}

#resetForm button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Primary button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#resetForm button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Styling message box */
.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #007bff; /* Border color matching button color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Hidden by default */
}

.message-box textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box; /* Ensure padding and border are included in size */
}

.message-box .buttons {
    text-align: center;
}

.message-box .ok {
    padding: 8px 16px;
    background-color: #007bff; /* Primary button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message-box .ok:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
